body {
	background: #eee;
}

.auth-card {
	width: 100%;
	max-width: 400px;
	padding: 40px 40px 20px;
	background: #fff;
	border-radius: 3px;
	margin: 40px auto 0;
	box-shadow: 0 2px 10px rgba(0,0,0,.3);
}

.logo-section {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: column wrap;
	margin-bottom: 20px;
}

.logo {
	width: 100px;
	height: 100px;
	background-size: cover;
	background-image: url("../img/logo.png"); 
	display: block;
	margin: 0 auto;
}

.auth-card h4 {
	color: #555;
	text-align: center;
	margin-bottom: 15px;
}

.auth-card > form > p {
	text-align: center;
	margin-top: 20px;
}

@media screen and (max-width: 576px){
	body {
		background: #fff;
	}

	.auth-card {
		margin-top: 0;
		box-shadow: none;
	}

	.logo-section {
		display: block;
		margin-bottom: 20px;
	}

	.logo-section h4 {
		text-align: center;
	}

	
}